version: "3.9"

networks:
  docker-exposed:
    external: true
    name: docker-exposed
    driver: bridge
  docker-nonexposed:
    internal: true
    driver: bridge

volumes:
    prometheus_data: {}
    grafana_data: {}

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    restart: unless-stopped
    profiles:
      - prometheus
    networks:
      - docker-exposed
      - docker-nonexposed
    ports:
      - ${PROMETHEUS_PORT}:${PROMETHEUS_PORT}
    volumes:
      - ./srv/prometheus:/etc/prometheus/
      - prometheus_data:/prometheus
    dns:
      - ${DNS}
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=90d'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    labels:
      - "env=prod"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.entrypoints=https"
      - "traefik.http.routers.prometheus.rule=Host(`${FQDN_PROM}`)"
      - "traefik.http.routers.prometheus.service=prometheus"
      - "traefik.http.routers.prometheus.tls=true"
      - "traefik.http.routers.prometheus.tls.certresolver=cloudflare"
      - "traefik.http.services.prometheus.loadbalancer.server.port=${PROMETHEUS_PORT}"
    deploy:
      resources:
        limits:
          memory: 1.5g
        reservations:
          memory: 750m

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    hostname: alertmanager
    restart: unless-stopped
    profiles:
      - prometheus
    networks:
      - docker-exposed
    dns:
      - ${DNS}
    ports:
      - ${AM_PORT}:${AM_PORT}
    volumes:
      - ./srv/alertmanager:/data/alertmanager/
    command:
      - '--config.file=/data/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
      #- '--log.level=debug'
    labels:
      - "env=prod"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.alertmanager.entrypoints=https"
      - "traefik.http.routers.alertmanager.rule=Host(`${FQDN_AM}`)"
      - "traefik.http.routers.alertmanager.service=alertmanager"
      - "traefik.http.routers.alertmanager.tls=true"
      - "traefik.http.routers.alertmanager.tls.certresolver=cloudflare"
      - "traefik.http.services.alertmanager.loadbalancer.server.port=${AM_PORT}"
      - "traefik.http.routers.alertmanager_http.entrypoints=http"
      - "traefik.http.routers.alertmanager_http.rule=Host(`${FQDN_AM}`)"
    deploy:
      mode: global
      resources:
        limits:
          memory: 70m
        reservations:
          memory: 50m

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    hostname: grafana
    restart: unless-stopped
    profiles:
      - prometheus
    user: "root"
    networks:
      - docker-exposed
      - docker-nonexposed
    dns:
      - ${DNS}
    ports:
      - ${GRAFANA_PORT}:${GRAFANA_PORT}
    volumes:
      - "./srv/grafana/data:/var/lib/grafana:rw"
      - "./srv/grafana/dashboards:/var/lib/grafana/dashboards:rw"
      - "./srv/grafana/provisioning:/etc/grafana/provisioning:rw"
      - "./srv/grafana/config/grafana.ini:/etc/grafana/grafana.ini:rw"
      - "./srv/grafana/dashboards/home.json:/usr/share/grafana/public/dashboards/home.json"
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TZ}
    labels:
      - "env=prod"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.entrypoints=https"
      - "traefik.http.routers.grafana.rule=Host(`${FQDN_GRAFANA}`)"
      - "traefik.http.routers.grafana.service=grafana"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.routers.grafana.tls.certresolver=cloudflare"
      - "traefik.http.services.grafana.loadbalancer.server.port=${GRAFANA_PORT}"
      - "traefik.http.routers.grafana_http.entrypoints=http"
      - "traefik.http.routers.grafana_http.rule=Host(`${FQDN_GRAFANA}`)"
    deploy:
      resources:
        limits:
          memory: 300m
        reservations:
          memory: 100m

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    hostname: node-exporter
    restart: unless-stopped
    profiles:
      - node
    networks:
      - docker-exposed
    ports:
      - ${NODE_EXPORTER_PORT}:${NODE_EXPORTER_PORT}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /:/host:ro,rslave
    command:
      - '--path.rootfs=/host'
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)'
    labels:
      - "env=prod"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.node_exporter.entrypoints=https"
      - "traefik.http.routers.node_exporter.rule=Host(`${FQDN_NE}`)"
      - "traefik.http.routers.node_exporter.service=node_exporter"
      - "traefik.http.routers.node_exporter.tls=true"
      - "traefik.http.routers.node_exporter.tls.certresolver=cloudflare"
      - "traefik.http.services.node_exporter.loadbalancer.server.port=${NODE_EXPORTER_PORT}"
      - "traefik.http.routers.node_exporter_http.entrypoints=http"
      - "traefik.http.routers.node_exporter_http.rule=Host(`${FQDN_NE}`)"
    deploy:
      mode: global
      resources:
        limits:
          memory: 250m
        reservations:
          memory: 200m

  cadvisor:
    privileged: true
    image: gcr.io/cadvisor/cadvisor
    container_name: cadvisor
    hostname: cadvisor
    restart: unless-stopped
    profiles:
      - node
    networks:
      - docker-exposed
    ports:
      - 8082:${CA_PORT}
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /dev/disk/:/dev/disk:ro
      - /var/lib/docker/:/var/lib/docker:ro
    labels:
      - "env=prod"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.cadvisor.entrypoints=https"
      - "traefik.http.routers.cadvisor.rule=Host(`${FQDN_CA}`)"
      - "traefik.http.routers.cadvisor.service=cadvisor"
      - "traefik.http.routers.cadvisor.tls=true"
      - "traefik.http.routers.cadvisor.tls.certresolver=cloudflare"
      - "traefik.http.services.cadvisor.loadbalancer.server.port=${CA_PORT}"
      - "traefik.http.routers.cadvisor_http.entrypoints=http"
      - "traefik.http.routers.cadvisor_http.rule=Host(`${FQDN_CA}`)"
    deploy:
      mode: global
      resources:
        limits:
          memory: 800m
        reservations:
          memory: 400m

  pushgateway:
    image: prom/pushgateway:latest
    container_name: pushgateway
    hostname: pushgateway
    restart: unless-stopped
    profiles:
      - prometheus
    networks:
      - docker-exposed
    ports:
      - ${PUSHGW_PORT}:${PUSHGW_PORT}
    labels:
      - "env=prod"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.pushgateway.entrypoints=https"
      - "traefik.http.routers.pushgateway.rule=Host(`${FQDN_PUSHGW}`)"
      - "traefik.http.routers.pushgateway.service=pushgateway"
      - "traefik.http.routers.pushgateway.tls=true"
      - "traefik.http.services.pushgateway.loadbalancer.server.port=${PUSHGW_PORT}"
      - "traefik.http.routers.pushgateway_http.entrypoints=http"
      - "traefik.http.routers.pushgateway_http.rule=Host(`${FQDN_PUSHGW}`)"
    deploy:
      mode: global
      resources:
        limits:
          memory: 800m
        reservations:
          memory: 400m

  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    hostname: dozzle
    restart: unless-stopped
    profiles:
      - node
    networks:
      - docker-exposed
    ports:
      - ${DOZZLE_PORT}:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "env=prod"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.dozzle.entrypoints=https"
      - "traefik.http.routers.dozzle.rule=Host(`${FQDN_DOZZLE}`)"
      - "traefik.http.routers.dozzle.service=dozzle"
      - "traefik.http.routers.dozzle.tls=true"
      - "traefik.http.routers.dozzle.tls.certresolver=cloudflare"
      - "traefik.http.services.dozzle.loadbalancer.server.port=${DOZZLE_PORT}"
      - "traefik.http.routers.dozzle_http.entrypoints=http"
      - "traefik.http.routers.dozzle_http.rule=Host(`${FQDN_DOZZLE}`)"
    deploy:
      mode: global
      resources:
        limits:
          memory: 60m
        reservations:
          memory: 7m

  jaeger:
    image: jaegertracing/all-in-one
    container_name: jaeger
    hostname: jaeger
    restart: unless-stopped
    profiles:
      - prometheus
      - ${DNS}
    networks:
      - docker-exposed
      - docker-nonexposed
    volumes:
      - "./srv/jaeger/jaeger-ui.json:/etc/jaeger/jaeger-ui.json"
    command: --query.ui-config /etc/jaeger/jaeger-ui.json
    environment:
      - METRICS_STORAGE_TYPE=prometheus
      - PROMETHEUS_SERVER_URL=http://prometheus:${PROMETHEUS_PORT}
      - PROMETHEUS_QUERY_SUPPORT_SPANMETRICS_CONNECTOR=true
      - PROMETHEUS_QUERY_NAMESPACE=span_metrics
      - PROMETHEUS_QUERY_DURATION_UNIT=s
      - PROMETHEUS_QUERY_NORMALIZE_CALLS=true
      - PROMETHEUS_QUERY_NORMALIZE_DURATION=true
    ports:
      - "${JAEGER_PORT}:${JAEGER_PORT}" # Query serve frontend
      #- 5775:5775/udp # agent (depricated)
      - 6831:6831/udp # agent
      - 6832:6832/udp # agent
      - 5778:5778 # agent
      - 14268:14268 # Collector
      - 14250:14250 # Collector
      #- 9411:9411 # Collector optional
    labels:
      - "env=prod"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.jaeger.entrypoints=https"
      - "traefik.http.routers.jaeger.rule=Host(`${FQDN_JAEGER}`)"
      - "traefik.http.routers.jaeger.service=jaeger"
      - "traefik.http.routers.jaeger.tls=true"
      - "traefik.http.routers.jaeger.tls.certresolver=cloudflare"
      - "traefik.http.services.jaeger.loadbalancer.server.port=${JAEGER_PORT}"
      - "traefik.http.routers.jaeger_http.entrypoints=http"
      - "traefik.http.routers.jaeger_http.rule=Host(`${FQDN_JAEGER}`)"

  scrutiny:
    image: ghcr.io/analogj/scrutiny:master-omnibus
    container_name: scrutiny
    hostname: scrutiny
    profiles:
      - synology
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    network_mode: hostbridge
    ports:
      - "6090:8080" # webapp
      - "8086:8086" # influxDB admin
    volumes:
      - /run/udev:/run/udev:ro
      - ./srv/scrutiny:/opt/scrutiny/config
      - ./srv/scrutiny/influxdb:/opt/scrutiny/influxdb
    devices:
      - /dev/sata1:/dev/sata1
      - /dev/sata2:/dev/sata2
      - /dev/sata3:/dev/sata3
      - /dev/sata4:/dev/sata4
      - /dev/sata5:/dev/sata5
      - /dev/sata6:/dev/sata6
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TZ}
      - SCRUTINY_WEB_INFLUXDB_TOKEN=${SCRUTINY_WEB_INFLUXDB_TOKEN}
      - SCRUTINY_WEB_INFLUXDB_INIT_USERNAME=${SCRUTINY_WEB_INFLUXDB_INIT_USERNAME}
      - SCRUTINY_WEB_INFLUXDB_INIT_PASSWORD=${SCRUTINY_WEB_INFLUXDB_INIT_PASSWORD}
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - "traefik.http.routers.scrutiny.entrypoints=https"
      - "traefik.http.routers.scrutiny.rule=Host(`${SCRUTINY_FQDN}`)"
      - "traefik.http.routers.scrutiny.service=scrutiny"
      - "traefik.http.routers.scrutiny.tls=true"
      - "traefik.http.routers.scrutiny.tls.certresolver=cloudflare"
      - "traefik.http.services.scrutiny.loadbalancer.server.port=8080"
      - "traefik.http.routers.scrutiny_http.entrypoints=http"
      - "traefik.http.routers.scrutiny_http.rule=Host(`${SCRUTINY_FQDN}`)"
    deploy:
      resources:
        limits:
          memory: 400m
        reservations:
          memory: 200m
