networks:
  docker-exposed:
    external: true
    name: docker-exposed
    driver: bridge

services:
  traggo:
    container_name: dvwa
    hostname: dvwa
    restart: unless-stopped
    networks:
      - docker-exposed
    build:
      context: ./build/docker-vulnerable-dvwa
      dockerfile: Dockerfile
    ports:
      - 8088:80
    labels:
      - "environment=prod"
    deploy:
      resources:
        limits:
          memory: 250m
        reservations:
          memory: 100m